/* below is the landing page */
.menuBtnsDiv{
    position: absolute;
    top: 150px;
    left: 400px;
    width: 700px;
    height: 400px;
    display: block;
}
.buttonClass{
    font-size: 20px;
    font-weight: bolder;
    width: 400px;
    height: 100px;
    margin: 10px;
    margin-left: 140px;
    background-color: antiquewhite;
}
.buttonClass:hover{
    background-color: aqua;
    cursor: pointer;
    transform: scale(1.1);
}
body{
    background-color: rgb(249, 125, 146);
}
/* stop landing page

start about page*/

.aboutPage{
    position: absolute;
    top: -50px;
    left: 0px;
    width: 700px;
    height: 600px;
    border: black solid 2px;
    background-color: bisque;
}
.imgInAbout{
    float: left;
    margin-top: 150px;
    margin-left: 20px;
    height: 300px;
    width: 250px;
    background-color: aliceblue;
}
.imgInAbout p{
    margin-top: 300px;
    float: right;
}
.buttonNextAbout{
    position: absolute;
    bottom: 10px;
    height: 30px;
    width: 100px;
    right: 150px;
    border: black solid 1px;
    background-color: pink;
}
.buttonNextAbout:hover{
    background-color: rgb(248, 110, 133);
}
.buttonPreviousAbout{
    position: absolute;
    bottom: 10px;
    height: 30px;
    width: 100px;
    left: 150px;
    border: black solid 1px;
    background-color: pink;
}
.buttonPreviousAbout:hover{
    background-color: rgb(248, 110, 133);
}
.aboutBack{
    position: absolute;
    top: -120px;
    left: -300px;
    height: 100px;
    width: 200px;
}
/* end of about
and start of drawingPage */
.divForBtns{
    position: absolute;
    height: 700px;
    width: 250px;
    top: -130px;
    right: -400px;
    background-color: rgb(226, 226, 226);
    border: solid black 3px;
}
.btnInDrawDiv{
    width: 250px;
    height: 50px;
    margin-top: 10px;
    background-color: pink;
    color: black;
    font-size: 20px;
    font-weight: 600;
    -webkit-box-shadow: 5px 9px 15px 5px rgba(0,0,0,0.67); 
    box-shadow: 5px 9px 15px 5px rgba(0,0,0,0.67);
    border-radius: 3%;
}
.btnInDrawDiv:hover{
    background-color: rgb(254, 110, 134);
}
.btnInDrawDivMenu{
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 250px;
    height: 50px;
    margin-top: 10px;
    background-color: pink;
    color: black;
    font-weight: bold;
    font-size: 20px;
    -webkit-box-shadow: 5px 9px 15px 5px rgba(0,0,0,0.67); 
    box-shadow: 5px 9px 15px 5px rgba(0,0,0,0.67);
    border-radius: 3%;
    
}
.btnInDrawDivMenu:hover{
    background-color: rgb(254, 110, 134);
}
.dropD{
    margin-left: 20px;
    width: 220px;
    height: 200px;
    background-color: black;
}
.noShow{
    display:none;
}
.buttonInDrop{
    height: 50px;
    width: 200px;
    margin-left: 10px;
    margin-top: 5px;
}
.dragged{
    opacity: 0.3;
}
.draggable{
    position: absolute;
    top: 200px;
    left: 350px;
}